.blue  {
    color: black;
}

h1 {
    color: red;
    font-family:'Courier New', Courier, monospace;
    animation: drop-in 1s ease 0s forwards;
    align-items: center;
}

@keyframes drop-in {
    100% {
        transform: translateY(0%);
    }
    50% {
        transfrom: translateY(5%);
    }
    0% {
        transform: translateY(-100%)
    }
}

a {
    color: cyan;
}

p1 {
    align-items: center;
}

body {
    background-color: white;
}

label {
    color: white;
}

.web {
    border-radius: 5%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px -2px var(--boxshadowcolor);
    width: 280px;
    margin-left: 10px;
    transition: 0.3s ease-in;
    animation: whoosh 1s ease 0s forwards;
}
.tenpxleft {
    margin-left: 10px;
}

.web:hover {
    background-color: black;
    color: white;
}

@keyframes whoosh {
    100% {
        transform: translateX(0%);
        box-shadow: 10px 10px 5px -2px;
    }
    50% {
        transform: translateX(5%);
    }
    0% {
        transform: translateX(-100%);
    }
}

.popup {
    animation: popup 1s ease 0s forwards;
}

@keyframes popup {
    100% {
        transform: scale(100%)
    }
    50% {
        transform: scale(105%)
    }
    0% {
        transform: scale(0%)
    }
}