.blue  {
    color: black;
}

h1 {
    text-underline-offset: 8px;
    transition: 0.3s;
}

h1:hover {
    background: linear-gradient(to left, palegoldenrod, hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.title {
    color: black;
    font-family:'Courier New', Courier, monospace;
    animation: drop-in 1s ease 0s forwards;
    margin: 0 auto;
    max-width: 300px;
    min-width: 400px;
    box-shadow: 7px 7px 3px -2px;
    border-color: black;
    transition: 0.3s ease;
}

.titlemargin {
    margin: 26px;
}

div.title:hover {
    background-color: black;
    color: cornflowerblue;
    transform: scale(110%);
}

@keyframes drop-in {
    100% {
        transform: translateY(0%);
    }
    50% {
        transfrom: translateY(5%);
    }
    0% {
        transform: translateY(-100%)
    }
}

a {
    color: cyan;
}

p1 {
    font-size: 25px;
}

body {
    background-image: url("https://imgs.search.brave.com/S_LEVdLibSFKr44mLv7pXrYJZM1AZFeP2zgn4lqsQAo/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC55/MEQ1N3NzRFB3cFly/Ym9xMTBZeFpBSGFF/byZwaWQ9QXBp");
    background-repeat: no-repeat;
    background-size: 1570px 770px;

}

label {
    color: white;
}

.web {
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px -2px;
    width: 280px;
    height: auto;
    transition: 0.3s ease;
    animation: whoosh 1s ease 0s forwards;
    margin: 0 auto;
}
.tenpxleft {
    margin-left: 10px;
}

.web:hover {
    padding: 1.5%;
    background-color: black;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
}

@keyframes whoosh {
    100% {
        transform: translateX(0%);
        box-shadow: 10px 10px 5px -2px;
    }
    50% {
        transform: translateX(5%);
    }
    0% {
        transform: translateX(-100%);
    }
}

.popup {
    animation: popup 1s ease 0s forwards;
    color: black;
    font-family: monospace;
}

@keyframes popup {
    100% {
        transform: scale(100%)
    }
    50% {
        transform: scale(105%)
    }
    0% {
        transform: scale(0%)
    }
}

.ednamode {
    opacity: 0.5;
    margin: 35px auto;
    background-color: antiquewhite;
    max-width: 450px;
    min-width: 400px;
    transition: 0.3s ease;
    transition: border-radius 1s ease;
    transition: background-color 1.5s ease;
    border-radius: 2px;
    box-shadow: 10px 10px 5px -2px;
}

.ednainedna:hover {
    opacity: 1;
}

.ednamode:hover {
    transform: scale(110%);
    box-shadow: 15px 15px 10px -2px;
    background-color: antiquewhite;
    border-radius: 5%;
    opacity: 100%;
}

.socials {
    display: table;
    margin: 50px auto;
    transition: 0.3s ease;
    background-color: white;
    --color1: aquamarine;
    color: var(--color1);
    box-shadow: 7px 7px 0px -2px;
    border: 10px black;
    border-radius: 10%;
}

.socials:hover {
    --color1: black;
    transform: scale(120%);
    box-shadow: 15px 15px 10px -2px;
    color: var(--color1);
    border: 0px black;
}

section.container {
    width: 20rem;
    height: 20rem;
    background: white;
    display: flex;
    overflow-x: scroll;
    margin: 150px auto;
    scroll-snap-type: x mandatory;
    border-radius: 10%;
}

section.container div {
    min-width: 19rem;
    max-width: 20rem;
    height: 19rem;
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border: solid #000;
    border-width: 0 1px;
    scroll-snap-align: center;
    background: #000;
}

html {
    scroll-behavior: smooth;
}

ul {
    font-family: monospace;
}

